*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: green;
}

.container{
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-image: url(../Images/1.jpg);
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    text-align: center;
}

.intro h4{
    font-size: 4em;
    color: #ffce14;
    letter-spacing: 27px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.intro h3{
    color: #fff;
    font-size: 1.5em;
    margin: 10px 0 0;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.intro p{
    color: #fff;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 11px;
    margin: 1em auto;
    font-weight: 300;
    text-transform: uppercase;
}

.intro button{
    padding: 15px;
    background: #4caf50;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
header{
    position: relative;
    overflow: hidden;
}
nav{
    position: fixed;
    width: 100%;
    height: 55px;
    z-index: 200;
    display: flex;
    background-color: green;
}

nav a{
    float: left;
    margin-left: 20px;
}

nav a.logo{
    color:white;
    font-size: 35px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul{ 
float: left;
margin-left: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 55px;
    margin: 0 15px;
}

nav ul li a{
    color: white;
    font-size: 18px;
}

nav ul li a:hover{
    color: rgb(255, 255, 255,.7)
}

header nav .logout{
    display: flex;
    align-items: right;
    justify-content: right;
}

.logout a{
    padding: 17px;
    background: #4caf50;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-left: 450px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
}

/* .logout button a{
    color: white;
    font-size: 18px;
} */

#guestdetailpanel{
    position : fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    background-color: #00000079;
}

#guestdetailpanel .guestdetailpanelform{
    height: 620px;
    width: 1170px;
    background-color: #ccdff4;
    border-radius: 10px;  
    /* temp */
    position: relative;
    top: 20px;
    animation: guestinfoform .3s ease;
}
a{
    color: black;
}

@keyframes guestinfoform{
    0%{
        transform: translateY(50px);
    }
}

.guestdetailpanelform .head{
    /* width: 100%; */
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guestdetailpanelform .head h3{
    color: #111f49;
    position: relative;
    left: 40%;
    margin-top: 10px;
}
.guestdetailpanelform .head i{
    font-size: 25px;
    cursor: pointer;
}

.guestdetailpanelform .middle{
    width: 100%;
    height: 500px;
    margin: 10px 0 0 0;
    display: flex;
}

.guestdetailpanelform .middle .guestinfo{
    width: 100%;
    background-color: rgba(108, 197, 108, 0.752);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guestdetailpanelform .middle .reservationinfo{
    
    width: 100%;
    background-color: rgba(108, 197, 108, 0.752);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 10px;
    height: 100%
}

.guestdetailpanelform .footer{
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.middle input,.selectinput{
    width: 100%;
    border: none;
    background-color: #d1d7ff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
}

.datesection{
    display: flex;
}

.datesection span{
    margin: 5px;
}

/* room book table */
.roombooktable{
    position: absolute;
    color: #0a0d2d;
    margin-top: 80px;
    width: 100%;
    height: 100vh;

    /* padding bottom to add space */
    padding-bottom: 900px;
}
.roombooktable thead{
    background-color:  #0a0d2d;
    color: white;
    text-align: center;
}
.roombooktable tbody{
    text-align: center;
}

.action a{
    text-decoration: none;
}

.action button{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.subbtn{
    margin-bottom: 30px;
    background: green;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    border-radius: 30px;
}

#secondsection{
    height: 100vh;
}

#secondsection img{
    /* background-size: cover; */
    height: 100vh;
    width: 100%;
    filter: blur(20px);
    position: absolute;
    /* -webkit-backdrop-filter: blur(30px);  */
    z-index: -2;
}

.ourroom{
    position: relative;
    top: 90px;
    height: 400px;
    width: 100%;
    /* background-color: #0040ff; */
}

.head{
    text-align: center;
    margin-bottom: 40px;
    color:white;
}

.roomselect{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

.roomselect .roombox{
    height: 100%;
    width: 300px;
    /* background-color: rgb(8, 8, 48); */
    background-color: #4caf50;
    border-radius: 10px;
    overflow: hidden;
    /* margin: 0 20px; */
}

.hotelphoto{
    height: 250px;
    width: 100%;
    background-color: aquamarine;
    background-size: cover;
}

.h1{
    background-image: url(../Images/hotel1photo.webp);
}
.h2{
    background-image: url(../Images/hotel2photo.jpg);
}
.h3{
    background-image: url(../Images/hotel3photo.avif);
}
.h4{
    background-image: url(../Images/hotel4photo.jpg);
}

.roomdata{
    text-align: center;
}

.roomdata h2{
color: white;
font-size: 30px;
}

.sevices{
    display: flex;
}

.services i{
    color:white;
    margin: 7px;
}

.bookbtn{
   margin: 10px;
}


.roomdata button{
    padding: 15px;
    background: green;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

footer{
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    background-color: white;
    transition: 0.5s;
}

.footer-bottom{
    text-align: center;
}

.footer-bottom p{
    color: white;
}


