*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: green;
}

header{
    position: relative;
    overflow: hidden;
}

nav{
    height: 55px;
    background-color: green;
}

nav a{
    float: left;
    margin-left: 20px;
}

nav a.logo{
    color:white;
    font-size: 35px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul{ 
float: left;
margin-left: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 55px;
    margin: 0 15px;
}

nav ul li a{
    color: white;
    font-size: 18px;
}

nav ul li a:hover{
    color: rgb(255, 255, 255,.7)
}

header nav .logout{
    position: relative;
    display: flex;
    align-items: right;
    justify-content: right;
}

.logout a{
    color: white;
    font-size: 18px;
    padding: 17px;
    background: #4caf50;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 30px;
}

section{
     display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    background: #fff;
    width: 1100px;
    border-radius: 15px;
    padding: 70px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.members{
    display: flex;
}
.team-mem{
    margin: 30px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}
h4,p{
    text-align: center;
    font-size: 20px;
    margin: 7px;
}

footer{
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    background-color: white;
    transition: 0.5s;
}

.footer-bottom{
    text-align: center;
}

.footer-bottom p{
    color: white;
}
